name: adrod15
description: adrod 15 installer

publish_to: "none"

version: 2.0.0

environment:
  sdk: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: 4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/warning.png
    - assets/images/adrod15.png
